.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 3.5em;
  font-style: normal;
  font-weight: 1200;
  line-height: 50px;
  letter-spacing: 0em;
  padding-top: 0.3em;
}

label {
  font-size: 1.25em;
}


/* TO-DO: AUSTIN

Here you should add CSS classes and ids in order to style the general front-end of the React app.

If you want to make 

*/