.footer{
    background-color: #01222D;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: left;
}

.footer p {
    text-align: justify;
    color: white;
}